body {
    
    color: white;
    text-align: center;
    background-color: cornflowerblue;
    background-size: cover;
    margin: 0;
    font-family: "Changa One", sans-serif;
}

#board {
    width: 540px;
    height: 540px;
    

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("./bilder_mole/soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 180px; 
    height: 180px;
    background-image: url("./bilder_mole/pipe.png");
    background-size: cover;
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#popup-window {
    position: fixed;
    width: 500px;
    height: 300px;
    background-color:dodgerblue;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    border-radius: 30px;
  }  
  #popup-window > h1 {
    font-size: 50px;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  #popup-window > p {
    font-size: 35px;
    color: white;
  }

  #popup-window > div > button > a {
    text-decoration: none;
    color: black;
  }
#popup-window2 {
    position: fixed;
    width: 500px;
    height: 300px;
    background-color:dodgerblue;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    border-radius: 30px;
  }  
  #popup-window2 > h1 {
    font-size: 50px;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  #popup-window2 > div > button > a {
    text-decoration: none;
    color: black;
  }

  @media (max-width: 570px){
    #popup-window, #popup-window2{
        width: 300px;
        height: 200px;
    }
    #popup-window > h1, #popup-window2 > h1 {
        font-size: 35px;
        text-align: center;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
      }
      #popup-window > p, #popup-window2 > p {
        font-size: 20px;
        color: white;
      }
}

  table {
    margin-left: auto;
    margin-right: auto;
  }
  th{
    border-style: solid;
    border-radius: 2px;
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(5, 69, 112);
    
  }
  #difficulty {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }

  #GameOver {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  #Home {
    text-decoration: none;
    color: white;
  }

  @media (max-width: 570px){
    #board {
        width: 300px;
        height: 300px;
    }

    #board div {
        /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
        width: 100px; 
        height: 100px;
    }

    #board div img {
        /* all img tags inside tiles */
        width: 55.5px;
        height: 55.5px;
    }

  }
