body {
    font-family: "Changa One", sans-serif;
    text-align: center;
    background-color: cornflowerblue;
    margin: 0
}


.fa-bars {
    color: white;
    font-size: 30px;
    padding: 5px 20px;
    display: none;
}

 h1{
    
    border-bottom: solid 2px white;
    max-width:300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: white;
} 
#turn {
    color: rgb(5, 69, 112);
    font-size: 30px;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 147px;
    height: 147px;
    color: rgb(5, 69, 112);
    
    /* Tekst */
    font-size: 150px;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.winner {
    background-color: yellowgreen;
    color: red;
}


.horizontal-line {
    border-bottom: 3px solid white;
}

.vertical-line {
    border-right: 3px solid white;
}


@media (max-width: 550px){
    hr{
        max-width: 300px;
    }
    #board > div{
        width: 100px;
        height: 100px;
    }
    #board{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 300px;
        max-height: 300px;
    }
    .tile{
        width: 47px;
        height: 47px;
        font-size: 100px;
    }
}
