/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(152, 203, 225);

    align-items: center;
}

header nav {
    display: flex;
}



header a {
    color: white;
    -webkit-text-stroke: 1px black;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;

}

header a:hover {
    background-color: rgb(64, 119, 186);

}

header .topnav {
    display: flex;
    justify-content: space-between;
}



/* FOOTER */
/*  
footer{
    background-color: rgb(64, 119, 186);
    padding: 50px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}
*/
/*  
footer > div > p {
    text-align: left;
    margin-left: 200px;
    font-family: sans-serif;
}
*/
footer{
    background-color: rgb(64, 119, 186);
    padding: 50px;
    margin-top: 85px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
footer > div > p {
    text-align: left;
    font-family: sans-serif;
    margin: 15px;
    -webkit-text-stroke: 0px black;
}
@media (max-width: 745px){
    footer {
        padding: 10px;
    }
    footer > div{
        width: 90%;
    }
    footer > div > p{
        text-align: center;   
    }
}