body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(152, 203, 225);

    align-items: center;
}

header nav {
    display: flex;
}



header a {
    color: white;
    text-decoration: none;
    padding: 20px;

}

header a:hover {
    background-color: rgb(64, 119, 186);

}

header .topnav {
    display: flex;
    justify-content: space-between;
}

header .topnav a {
    font-weight: bold;

}

.fa-bars {
    color: white;
    font-size: 30px;
    padding: 5px 20px;
    display: none;
}


