


body {
    margin: 0;
    text-align: center;
    font-family: "Changa One", sans-serif;
    background-color: cornflowerblue;
    color: white;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(152, 203, 225);

    align-items: center;
}

header nav {
    display: flex;
}



header a {
    color: white;
    text-decoration: none;
    padding: 20px;

}

header a:hover {
    background-color: rgb(64, 119, 186);

}

header .topnav {
    display: flex;
    justify-content: space-between;
}

header .topnav a {
    font-weight: bold;

}

.fa-bars {
    color: white;
    font-size: 30px;
    padding: 5px 20px;
    display: none;
}

/* #spill{
    display: flex;
    flex-direction: row;
    flex: wrap;
    max-width: 1000px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
} */

#spill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

#spill > div{
    border: solid 2px black;
    border-radius: 10px;
    font-family: "Chonga One", sans-serif;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    margin: 0px 0px 20px;
    margin-left: auto;
    margin-right: auto;
    
}
#spill>div:hover {
    transition: 0s;
    transform: scale(1.03);
}
#spill p {
    font-family: "Chonga One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20px;

}
#spill > div >img{
    height: 300px;
    width: 300px;
}

@media (max-width: 1000px){
    #spill{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 630px){
    #spill{
        grid-template-columns: 1fr;
    }
}


