body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    height:1000px;
    display: flex;
    align-items: center;
}


#board {
   background-color: skyblue; 
   background-image: url("bilder_flappybird/flappybirdbg.png");
   display: flex;
   align-items: center;
}